:root {
  /* light */
  --color-background: #f7f8fc;
  --color-background-secondary: #ffffff;
  --color-muted: #eef1f8;

  --color-foreground: #1b1e2b;
  --color-foreground-muted: #4c5368;

  --color-border: #d7dbe7;

  --color-primary: #8b2dff;
  --color-active: #e9ddff;
}

.dark {
  --color-background: #0b0c15;
  --color-background-secondary: #0c0d17;
  --color-muted: #121421;

  --color-foreground: #d8dbe6;
  --color-foreground-muted: #9aa0b4;

  --color-border: #1b1e2d;

  --color-primary: #8b2dff;
  --color-active: #3a2a59;
}
