@import "../tokens/colors.css";
@import "../tokens/typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-sans);
  }
}
